.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100hv;
    background: #e3f9ff;

}
.card
{
    background: #202d36;
    padding: 20px;
    border-radius: 10px;
}